{% extends 'base.html' %}

{% block content %}

    <div class="row">
        {% for auction in auctions %}
        <div class="col-md-4  display panel panel-default ">
            <div class="block">
    
            </div>
            <p> Start Bid: {{ auction.start_time }} </p>
            <p> End Bid: {{ auction.end_time }} </p>
            <button class="btn btn-success"><a href="{% url 'auctions' product.id %}">Bid Now</a></button>
        </div>
        {% endfor %}
    </div>



{% endblock %}