{% extends 'base.html' %}

{% block content %}


<div class="row">
             <h1>Auctions</h1>
    {% for auction in auctions %}
    <div class="col-md-6  display panel panel-default ">

        <div class="block">

            <div class="panel-body">
                <div class="image">
                    <img src="{{ MEDIA_URL }}{{ auction.product_id.image }}"  width="330px" height="316px">
                </div>

                <div>
                    <p>Artefact: <span> {{ auction.product_id.title }} </span></p>
                    <p>Description: <span> {{ auction.product_id.details }} </span></p>
                    <p> Date Posted: <span> {{ auction.posted_date }} </span></p>
                    <p> Start: <span> {{ auction.start_time }} </span></p>
                    <p> End: <span> {{ auction.end_time }} </span></p>
                </div>

            <form action="{% url 'one_auction' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="hidden" name="product_id" value={{ auction.product_id.id }} />
                    <input name="Raise" type="number" min="10" max="9999" class="form-control" placeholder="Raise">
                    <span class="input-group-btn"><button class="btn btn-success">Bid Now</button></span>
                </div>
            </form>

            </div>


        </div>




    </div>
    {% endfor %}
</div>


{% endblock %}