{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":4,"column":0},"end":{"row":5,"column":0},"action":"remove","lines":["env.py",""],"id":2,"ignore":true}],[{"start":{"row":4,"column":0},"end":{"row":5,"column":0},"action":"insert","lines":["env.py",""],"id":3,"ignore":true}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":0},"end":{"row":4,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1578702762930,"hash":"d3eb2e693dac8e770b1ea94260ac9bdc3080e1a2"}