{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":3,"column":10},"end":{"row":4,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":3,"column":9},"end":{"row":3,"column":10},"action":"remove","lines":["/"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":9},"end":{"row":3,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1579582878644,"hash":"c48441b85477b920382340cb9db92b7f4d95b318"}