{% extends 'base.html' %}

{% block content %}

    <div class="row">
            <!-- HEADER -->
         <h1>Products</h1>  
         
                 <!-- FOR LOOPS IN PRODUCT -->
                 
        {% for product in products %}
        <div class="col-md-6 display panel panel-default ">
            <div class="block">
                 <div class="panel-body">
                     <div class="image">
                         
                             <!-- IMAGE URL -->
                       <img src="{{ MEDIA_URL }}{{ product.image }}">
                    </div>
                
                             <!-- ARTEFACT CONTENTS -->
                     <h3> {{ product.title }} </h3>
                     <p>Description: <span> {{ product.details }} </span> </p>
                     <p>History: <span> {{ product.history }} </span> </p>
                     <p>Category: {{ product.artefact }} </p>
                     <p>Amount: € {{ product.price }} </p>
                     <span> {{ product.posted_date }} </span>
                     
                             <!-- SUBMIT FORM -->
                     <form method="POST" action="{% url 'add_to_basket' product.id %}">
                         {% csrf_token %}
                         <div class="input-group">
                             <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                             <span class="input-group-btn"><button class="btn btn-success" type="submit">Buy Now</button></span>
                         </div>
                     </form>
                             <!-- FORM END -->
                
                 </div>
                
            </div>
        </div>
        {% endfor %}
        
            <!-- FOR LOOP END -->
    </div>
   




{% endblock %}