@import url('https://fonts.googleapis.com/css?family= Cormorant+Upright:100,200,300,400,500,600,700,|Muli:200,300,400,500,600,700,|Nunito:100,200,300,400,500,600,700,|Frijole:400');

/********************************* HTML & BODY *********************************/

html,
body {
    height: 100vh;
}

    /********** BODY ************/

body {
    width: 100%;
    margin: 0;
    background: url("https://media.npr.org/assets/img/2014/03/13/istock_000004424808medium_wide-0af4cc557df8d5b9e653d2eef9398c44f5a0cd07.jpg?s=1400") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
    
.overlay {
    background-color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0.55;
    z-index: 0;
}
    
#myCarousel {
    margin-bottom: 2em;
    margin-right: 2em;
    margin-left: 2em;
}
    
.card-body {
    position: absolute;
    bottom: 53px;
    margin-left: 4em;
    margin-right: 4em;
}
    
.card-text {
    color: brown;
}
    
.alert-success,
.alert-danger {
    font-family: 'Muli', serif;
    font-weight: 600;
    text-transform: capitalize;
}
    
.alert-success {
    border: none;
    background-color: transparent; 
    color: #46ff4d;
    font-size: 1.3em;
}
    
.alert-danger {
    background-color: #d83b3b;
    border: none;
    color: #fffefd;
    font-size: 1.1em;
}

/******************************** HTML & BODY END *****************************/
    
    

/********************************* IMAGE START *********************************/

img {
    width: 24em;
    height: 20em;
}

.image img {
    width: 100%;
    display: block;
}

    
    
.animated {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-fill-mode: none;
    -moz-animation-fill-mode: none;
    animation-duration: 2s;
    animation-fill-mode: both;
}

    
.carousel-indicators li {
    border: none;
}
    
.carousel-indicators .active {
    background-color: inherit;
}

/***************************** IMAGE END ***************************************/    
    

/******************************* HEADERS START **********************************/

h2,
h3,
.jumbotron {
    text-shadow: 2px 1px #000;
}


h4 {
    font-family:'Cormorant+Upright', serif;
}

    
h3 {
    font-family: 'Nunito', serif;
}
    
.jumbotron h1 {
    color: #67a4f1e8;
    text-transform: uppercase;
    font-family: 'Frijole', serif;
    font-size: 2.2em;
    font-weight: 700;
}


h2,
h3 {
    font-weight: 700;
}


h1 {
    font-family: 'Frijole', serif;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 1px #d82c1b;
    color: #ffc18b;
}
    
    



h2,
#message_0.font-size,
.stripe-button-el span {
    font-family: 'Muli', serif;
    text-transform: uppercase;
    font-size: 2.2em;
}


    
#message_0.font-size,
#message_1.font-size,
#message_2.font-size,
#message_3.font-size {
    font-size: 1.7em;
    font-weight: 700;
    color: #ffdaaf;
    text-shadow: 2px 1px #f72323;
}

    
.blinking {
	height: 2em;
	line-height: 2em;
	background-color: transparent;
	text-decoration: blink;
	-webkit-animation-name: blinking;
	-moz-animation-name: blinking;
	
	-webkit-animation-duration: 1.9s;
	-moz-animation-duration: 1.9s;
	
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	
	-webkit-animation-timing-function:ease-in-out;
	-moz-animation-timing-function:ease-in-out;
	
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
}
    
    @keyframes blinking {
        from {opacity: 1.0;}
        to {opacity: 0.0;}
    }



h3 {
    color: #000;
    font-size: 2.4em;
    text-align: center;
    text-transform: capitalize;
}
    
h3.border {
    color: #ecd5d5;
    font-size: 2.2em;
}


h4 {
    font-weight: 700;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #cbffea;
}

/****************************** HEADER END *********************************/


/************************* NAVBAR & NAVBRAND *******************************/

.navbar-brand,
a {
    font-family: 'Muli', serif;
    font-weight: 700;
}


.navbar-brand {
    font-size: 1em;
}
 
    
.navbar-brand:hover,
.btn.btn-success:hover {
    background-color: rgba(42, 38, 105, 1);
}
    
.navbar-default .navbar-nav>li>a:hover {
    background-color: rgba(42, 38, 105, 1);
}

.navbar.navbar-default,
.panel {
    background: transparent;
    border: none;
}
        


a {
    text-transform: uppercase;
    font-size: 1em;
}


li {
    background-color: #2da3e700;
    list-style: none;
}

    
hr {
    margin-left: .9em;
    margin-right: .9em;
    margin-top: -1.3em;
    border-top: 1px solid #decdcdab;
}

.jumbotron {
    background-color:#eeeeee00;
    text-align: center;
    margin-bottom: 5em;
    -webkit-box-shadow: 1em 1em 1em 1em #000;
    -moz-box-shadow: 1em 1em 19em 1em #000;
    box-shadow: 1em 1em 1em 1em #000;
}



/****************************** NAVBAR & NAVBRAND END **************************/



/****************************** CARD FOR IMAGE *********************************/

.block {
    background-color: #eee;
    -webkit-box-shadow: 11px 11px 4px 4px rgba(109, 93, 91, 0.65);
    -moz-box-shadow: 11px 11px 4px 4px rgba(109, 93, 91, 0.65);
    box-shadow: 11px 11px 4px 4px rgba(109, 93, 91, 0.65);

    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 1em;
    border: 2px solid #796868bd;
}



.panel-body {
    background: #2d29614a;
}

    
.panel-body p {
    color: maroon;
    font-family: 'Cormorant+Upright', serif;
    font-size: 1.5em;
    line-height: 1.8em;
}

    
.panel-body span {
    color: #161e25eb;
    text-transform: capitalize;
    font-size: 1.1em;
    
}


    
.product-panel {
    padding: 2em;
    background-color: #bec8da;
}

/*************************** CARD END ******************************************/

/************************** PARAGRAPH $ SPAN ***********************************/

p {
    color: brown;
    text-transform: uppercase;
    font-family: 'Nunito', serif;
}

    
p, 
p.lead {
    font-size: 1.5em;
}


.jumbotron p,
.panel-body p,
.panel-body span,
p.lead,
p,
p>span,
span {
    font-weight: 700;
}



p>span,
span,
p.lead,
a.btn.btn-success {
    font-family: 'Muli', serif;
}



p>span {
    color: #202C59;
    font-size: .9em;
    text-transform: uppercase;
}



span {
    color: #fbeeed;
    font-size: 1.4em;
    text-transform: capitalize;
}



span#price-highlight {
    color: #17ff95;
    text-shadow: 0.1em 0.1em #a7583a69;
    font-size: 2.3em;
}

    
.panel-body span#price-highlight {
    color: #ffffffed;
    font-size: 1.9em;
    text-shadow: 0.1em 0.1em #b3966a;
}

    
.jumbotron p {
    margin-bottom:0em;
    color: #e6f5f5;
    font-size: 1.4em;
    text-transform: capitalize;
}

    
#text {
    color: red;
}

/************************** PARAGRAPH AND SPAN END *****************************/

/******************************* BID SECTION ***********************************/


.bid-detail {
    margin-top: 1em;
}

    
.bid-detail span {
    color: #ffd587;
}

/******************************* MEDIA QUERIES *********************************/

 @media (max-width:768px) {
    .bid-detail {
        margin-top: 3em;
    }
    
    p.footer {
        padding-right:4em;
    }
    
    .icon-detail {
        padding-left:5.4em;
    }
}



.border {
    border-bottom: .3em solid #a3c2d4;
}

.btn.btn-success {
    text-transform: uppercase;
}

a.btn.btn-success {
    margin: 2em;
    background: #d48012;
    font-size: 1.4em;
    color: white;
}


/**************************** BID SECTION END *********************************/


/****************************** PROFILE START *********************************/

.profile-detail {
    margin-top: 1em;
}


.display_profile {
    margin-bottom: .7em;
    padding: 2em;
    -moz-border-radius: 3em 3em 3em 3em;
    -webkit-border-radius: 3em 3em 3em 3em;
    border-radius: 3em 3em 3em 3em;
    border: .1em solid #c8c8e0;
}


.display_profile>p {
    color: #dece51;
    font-size: 2em;
}


.display_profile>span {
    color: #eefff5;
    font-size: 1.7em;
    font-weight: 700;
}


/******************************** PROFILE END***********************************/
    


/********************************* FOOTER SECTION ******************************/
    
footer {
    background-color: rgba(42, 38, 105, 1);
}

.footer {
    text-transform: capitalize;
    text-align: center;
}

p.footer {
    color: white;
    margin: 1em;
}

.footer-detail li a {
    color:azure;
}

.container {
    min-height: 100%;
}

/********************FONTAWESOME ICONS*******************/

.fa-cc-stripe,
.fa-cc-visa,
.fa-credit-card{
    font-size: 2.7em;
    margin-top: .3em;
    margin-left: .1em;
    margin-right: .1em;
}
    
.fa-cc-stripe {
    color: #7ca4ff;
}
    
.fa-cc-visa {
    color: #ffe08b;
}

.fa-credit-card {
    color:#f6fffe;
}
    


/******************************* FOOTER END ************************************/