{% extends 'base.html' %}


{% block content %}
          <!-- HEADER -->
    <h2>Buy for €500.00</h2>
          <!-- FORM FOR STRIPE CHARGE -->
    <form action="{% url 'charge' %}" method="post">
      {% csrf_token %}
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ key }}"
              data-description="Artefacts Collections"
              data-amount="50000"
              data-locale="auto">
          
      </script>
    </form>
          <!-- FORM END -->
{% endblock %}